@font-face {
  font-family: "Oxygen";
  src: url(./font/Oxygen-Regular.ttf);
}
* {
  box-sizing: border-box;
}

html {
  font-family: "Oxygen", sans-serif;
  background-color: #161717;
  color: white;
  width: 100%;
}

body {
  width: 100%;
  margin: 0px;
}

#jours {
  margin-left: 2rem;
}

.info_additionnelles img {
  max-width: 2rem;
  max-height: 2rem;
}
.info_additionnelles ul {
  list-style: none;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}
.info_additionnelles ul li {
  display: flex;
  align-items: center;
}
.info_additionnelles ul li span {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.info_additionnelles ul li span h3 {
  margin: 0px;
  color: #7F8080;
  font-size: small;
}

.graph {
  margin-left: 2rem;
  margin-right: 2rem;
}
.graph img {
  width: 100%;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  width: 100%;
  font-size: 0.7rem;
}

.donnees {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 4rem;
  margin: 2rem;
}

#libelle_recharge {
  height: 2rem;
  color: #7F8080;
  margin: 0;
}

#donnee_recharge {
  height: 2rem;
}

#libelle_depenses {
  height: 2rem;
  color: #7F8080;
  margin: 0;
}

#donnee_depenses {
  height: 2rem;
}

#retour_vers_menu::before {
  content: url(./icons/chevron-left.svg);
  position: absolute;
  left: 1rem;
}

.card {
  margin-top: 1rem;
  width: 100%;
  padding: 1rem;
  background-color: #222323;
  position: relative;
}
.card h1 {
  margin-top: 0px;
}
.card .plus_info img {
  position: absolute;
  right: 1rem;
  top: 1rem;
  margin-top: 0.2rem;
  width: 1rem;
  height: 1rem;
}
.card p {
  margin-bottom: 0px;
  color: #7F8080;
  font-weight: bold;
}

#cout_moyen section {
  margin-top: 1rem;
}
#cout_moyen section:last-child {
  margin-bottom: 0.5rem;
}
#cout_moyen progress {
  width: 80%;
}
#cout_moyen h2 {
  margin: 0px;
  font-size: medium;
}
#cout_moyen data {
  margin-bottom: 1rem;
}

.parametres {
  display: flex;
  flex-direction: column;
}
.parametres a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1rem;
}
.parametres a img {
  margin-left: 1rem;
  margin-right: 3rem;
}
.parametres a h1 {
  font-size: large;
  font-weight: bold;
}
.parametres a::after {
  content: url(./icons/chevron.svg);
  position: absolute;
  right: 1rem;
  margin-top: 0.2rem;
  width: 1rem;
  height: 1rem;
}
.parametres p {
  margin: 2rem;
}

@media screen and (orientation: landscape) and (min-width: 415px) {
  .donnees {
    position: absolute;
    top: 2rem;
    right: 0;
    width: 70%;
    justify-content: flex-end;
  }
  #eco_carburant {
    position: absolute;
    right: 0;
    top: 8rem;
    width: 50%;
  }
  #cout_moyen {
    position: absolute;
    right: 0;
    top: 17rem;
    width: 50%;
  }
  .graph {
    width: 40%;
    position: absolute;
    top: 13rem;
  }
  .card {
    width: 40%;
  }
  .info_additionnelles {
    width: 100%;
  }
  .info_additionnelles ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    position: absolute;
    bottom: 5rem;
    justify-content: space-around;
  }
  .parametres {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 5rem;
  }
  .parametres a {
    width: 40%;
  }
  .parametres p {
    background-color: #222323;
    padding: 1rem;
    width: 40%;
  }
  .parametres a::after {
    content: url(./icons/chevron.svg);
    position: absolute;
    right: 50%;
    margin-top: 0.2rem;
    width: 1rem;
    height: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  #retour_vers_menu {
    background-color: lightgray;
    color: #161717;
    display: flex;
    justify-content: flex-start;
    padding-left: 2rem;
    height: 5rem;
  }
  #retour_vers_menu::before {
    content: none;
  }
  #jours {
    position: absolute;
    top: 0.25rem;
    left: 20rem;
    color: #161717;
  }
  .donnees {
    position: absolute;
    right: 1rem;
    top: 0.55rem;
    align-items: flex-end;
    margin: 0;
  }
  #donnee_recharge {
    color: #161717;
    font-weight: bold;
  }
  #donnee_depenses {
    color: #161717;
    font-weight: bold;
  }
}

/*# sourceMappingURL=stats.css.map */
