@font-face{
    font-family: "Oxygen";
    src: url(./font/Oxygen-Regular.ttf);
};

$primary-background: #161717;
$secondary-background: #222323;
$icon: #8A8B8B;
$battery-color-primary: #8A8B8C;
$battery-color-secondary: #2D2F33;
$font-color: white;
$font-secondary-color: #7F8080;
$font-third-color: #161717;
$no-margin: 0 0 0 0;
$font-style: 'Oxygen', sans-serif;
$font-size: 1.5rem;