@font-face {
  font-family: "Oxygen";
  src: url(./font/Oxygen-Regular.ttf);
}

$primary-background: #161717;
$secondary-background: #222323;
$header-secondary-color: #d3d3d4;
$icon: #8a8b8b;
$battery-color-primary: #8a8b8c;
$battery-color-secondary: #2d2f33;
$font-color: white;
$font-secondary-color: #7f8080;
$font-third-color: #161717;
$no-margin: 0 0 0 0;
$font-style: "Oxygen", sans-serif;
$font-size: 1.5rem;
